:root {
  --main-color: #9aa0a6;
  --main-bg-color: #1f2023;
  --folder-bg-color: #292a2d;
  --folder-frame-bg-color: #161719;
  --link-bg-color: #161719;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  @include reset-list;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  margin: 0 auto;
  font-family: "JetBrains Mono", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
