.folder {
  list-style: none;
  background-color: var(--folder-bg-color);
  border-radius: 4px;
  border: 2px solid var(--folder-frame-bg-color);
  margin-bottom: 15px;
  overflow: hidden;

  //TODO: Remove hardcoded temp styles for columns
  break-inside: avoid;

  &__header {
    width: 100%;
    padding: 8px;
    margin: 0;
    background-color: var(--folder-frame-bg-color);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    user-select: none;

    &:hover + .folder__content {
      background-color: var(--main-bg-color);
    }
  }

  &__content {
    padding: 8px;
    transition: .2s;
  }

  .folder {
    margin: 15px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
