.link {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 10px 8px;
  border-radius: 4px;
  transition: .2s;

  &:hover {
    background-color: var(--link-bg-color);
  }

  &__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
